<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Ue3EkWWSZKeXfxwhPOirve_Redc_2pU</string>
	<key>GCM_SENDER_ID</key>
	<string>615540571985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>w4995.quizzybee</string>
	<key>PROJECT_ID</key>
	<string>quizzybee-464f4</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzybee-464f4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>DATABASE_URL</key>
	<string>https://quizzybee-464f4-default-rtdb.firebaseio.com</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:615540571985:ios:aed76aeb62318134a25d70</string>
</dict>
</plist>
